name: SonarQube Code Analysis

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  sonar:
    runs-on: windows-latest
    env:
      SONAR_HOST_URL: "https://sonarcloud.io"
      SONAR_TOKEN: "25f0b32cdd9160d498bbaa922462f89275769c74"
      SONAR_PROJECT_KEY: "VishalAIDev-2025_project-aspnet"
      SONAR_PROJECT_NAME: "project-aspnet"

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup NuGet
        uses: nuget/setup-nuget@v1

      - name: Ensure MSBuild is available
        id: setup-msbuild
        uses: microsoft/setup-msbuild@v1

      - name: Export MSBUILD_PATH
        shell: powershell
        run: |
          $ms = '${{ steps.setup-msbuild.outputs.msbuild-path }}'
          if ($ms) {
            Add-Content -Path $env:GITHUB_ENV -Value ("MSBUILD_PATH=" + $ms)
            exit 0
          }

          Write-Host "Trying vswhere fallback..."
          $vswhere = Join-Path ${env:ProgramFiles(x86)} "Microsoft Visual Studio\Installer\vswhere.exe"
          $inst = & $vswhere -latest -products * -requires Microsoft.Component.MSBuild -property installationPath
          $candidate = Join-Path $inst "MSBuild\Current\Bin\MSBuild.exe"

          Add-Content -Path $env:GITHUB_ENV -Value ("MSBUILD_PATH=" + $candidate)

      - name: Restore NuGet packages
        shell: powershell
        run: nuget restore "SampleWebApplication.sln"

      - name: Install SonarScanner
        shell: powershell
        run: |
          try {
            dotnet tool install --global dotnet-sonarscanner --version 5.12.0 -ErrorAction Stop
          } catch {
            dotnet tool update --global dotnet-sonarscanner --version 5.12.0 -ErrorAction Stop
          }
          $dotnetTools = Join-Path $env:USERPROFILE ".dotnet\tools"
          Add-Content -Path $env:GITHUB_ENV -Value ("PATH=" + $dotnetTools + ";" + $env:PATH)

      - name: SonarScanner Begin
        shell: powershell
        run: |
          dotnet sonarscanner begin `
            /k:"$env:SONAR_PROJECT_KEY" `
            /n:"$env:SONAR_PROJECT_NAME" `
            /o:"vishalaidev-2025" `
            /d:sonar.host.url="$env:SONAR_HOST_URL" `
            /d:sonar.login="$env:SONAR_TOKEN"

      - name: Build solution
        shell: powershell
        run: |
          & "$env:MSBUILD_PATH" "SampleWebApplication.sln" /p:Configuration=Release /m /p:VisualStudioVersion=16.0

      - name: SonarScanner End
        shell: powershell
        run: |
          dotnet sonarscanner end /d:sonar.login="$env:SONAR_TOKEN"

      - name: Show Sonar URL
        shell: powershell
        run: |
          Write-Host "SonarCloud Dashboard:"
          Write-Host "https://sonarcloud.io/project/overview?id=$env:SONAR_PROJECT_KEY"
