name: SonarCloud Analysis

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: windows-latest

    env:
      SONAR_HOST_URL: "https://sonarcloud.io"
      SONAR_TOKEN: "25f0b32cdd9160d498bbaa922462f89275769c74"
      SONAR_PROJECT_KEY: "VishalAIDev-2025_project-aspnet"
      SONAR_PROJECT_NAME: "project-aspnet"

    steps:
      # Checkout code
      - uses: actions/checkout@v4

      # Setup MSBuild
      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v1
        id: msbuild

      # Setup NuGet
      - name: Setup NuGet
        uses: nuget/setup-nuget@v1

      # Restore Packages
      - name: Restore NuGet
        run: nuget restore "SampleWebApplication.sln"

      # SonarCloud - Begin
      - name: SonarCloud - Begin
        uses: SonarSource/sonarcloud-github-action@master
        with:
          args: >
            dotnet-sonarscanner begin
            /k:${{ env.SONAR_PROJECT_KEY }}
            /n:${{ env.SONAR_PROJECT_NAME }}
            /o:vishalaidev-2025
            /d:sonar.host.url=${{ env.SONAR_HOST_URL }}
            /d:sonar.login=${{ env.SONAR_TOKEN }}

      # Build the Project
      - name: Build Solution
        run: |
          & "${{ steps.msbuild.outputs.msbuild-path }}" "SampleWebApplication.sln" /p:Configuration=Release

      # SonarCloud - End
      - name: SonarCloud - End
        uses: SonarSource/sonarcloud-github-action@master
        with:
          args: >
            dotnet-sonarscanner end
            /d:sonar.login=${{ env.SONAR_TOKEN }}
